.container {
  display: flex;
  flex: 1;
}

.card-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 500px;
  border: 1px solid lightgrey;

  img {
    margin-top: 85px;

    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: black;

    object-fit: cover;

    align-self: center;
  }
  .rotate {
    margin-top: auto;
  }

  .card {
    display: flex;
    flex-direction: column;

    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .face {
    opacity: 1;
    &::before {
      content: "";
      position: absolute;
      background: rgb(0, 212, 255);
      background: radial-gradient(
        circle,
        rgba(0, 212, 255, 1) 0%,
        rgba(59, 59, 255, 1) 75%,
        rgba(25, 16, 172, 1) 100%
      );
      height: 150px;
      width: 100%;
      z-index: -1;
    }
  }
  .back {
    opacity: 1;
  }
}

button {
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  &:active {
    opacity: 0.5;
  }
}

.fields {
  display: flex;
  flex: 1;
  flex-direction: column;

  margin: 0 20px;
}

input {
  padding: 10px;
}
